<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [141]:
import pandas as pd
import datetime as dt

url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

df = pd.read_csv(url, header=None)
df.columns = headers

print(df.dtypes)
# ë§¤ì¶œì•¡ object, ì˜ì—…ì´ìµ objectì´ë¯€ë¡œ intë¡œ í˜•ë³€í™˜
def toInt(string):
  return int(string.replace(',', ''))

# ì˜ì—…ì´ìµë¥  = (ì˜ì—…ì´ìµ/ë§¤ì¶œì•¡) * 100
df['ì˜ì—…ì´ìµë¥ 2'] = (df['ì˜ì—…ì´ìµ'].apply(toInt) / df['ë§¤ì¶œì•¡'].apply(toInt)) * 100

df

ë¶„ê¸°             object
ë§¤ì¶œì•¡            object
ì˜ì—…ì´ìµ           object
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
dtype: object

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12,578  3,991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13,222  3,825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11,982  2,523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11,784  3,150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13,188  3,947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

In [102]:
headers = ['êµ¬ë¶„', 'ì¢…ê°€', 'ë°œí–‰ì£¼ì‹ìˆ˜', 'ì‹œê°€ì´ì•¡', 'ì‹œì¥ì ìœ ìœ¨']
data = [['18ë…„', 101500, 137292497, 13935188445500, 62.0],
        ['19ë…„', 93800, 137292497, 12878036218600, 63.5]]

df2 = pd.DataFrame(data)
df2.columns = headers

# PDR = (ì‹œê°€ì´ì•¡ / (ì‹œì¥ê·œëª¨ * ì ìœ ìœ¨)) * 100
tam = 15000000000000
df2['PDR'] = (df2['ì‹œê°€ì´ì•¡'] / (tam * df2['ì‹œì¥ì ìœ ìœ¨']/100)) * 100
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨         PDR
0  18ë…„  101500  137292497  13935188445500   62.0  149.840736
1  19ë…„   93800  137292497  12878036218600   63.5  135.202480

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [104]:
import re
pd.set_option('mode.chained_assignment',  None)

# ','ë¥¼ ëŒ€ì²´ì‹œí‚¬ í•¨ìˆ˜
def comma_num_to_int(text):
  # ë“¤ì–´ì˜¨ ê°’ì˜ íƒ€ì…ì„ í™•ì¸í•˜ì—¬ strì´ë©´ ëŒ€ì²´, ì•„ë‹ˆë©´ ì›ë˜ ê°’ìœ¼ë¡œ ëŒë ¤ì¤Œ
  if str(type(text)) == "<class 'str'>":
    n = re.sub(",", "", text)
    return int(n)
  else:
    return text

target = df.index[(df['ë¶„ê¸°'] == '19/6')] # 19ë…„ë„ 2ë¶„ê¸° í–‰ ìœ„ì¹˜ ì°¾ê¸°
df['ë§¤ì¶œì•¡'][target[0]] = comma_num_to_int(df.loc[target[0]]['ë§¤ì¶œì•¡']) # ê°’ íƒ€ì…ì„ intë¡œ ë°”ê¾¸ê¸°
df['ë§¤ì¶œì•¡'][target[0]]

12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [105]:
# ê° ì»¬ëŸ¼ë³„ íƒ€ì… í™•ì¸
df.dtypes

# ê²°ì¸¡ì¹˜ ì²˜ë¦¬
df.isna()
df = df.fillna(0)

# 'ë¶„ê¸°'ì™€ 'ë¶„ê¸°' ì™¸ ì»¬ëŸ¼ì„ ë¶„ë¦¬
df_object = df.iloc[:, 0]
df_numeric = df.iloc[:, 1:]

# 'ë¶„ê¸°' ì œì™¸ ë‚˜ë¨¸ì§€ featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„°ë¡œ ìˆ˜ì •
df_numeric = df_numeric.replace(',', '', regex=True).apply(pd.to_numeric)

# ë¶„ë¦¬í–ˆë˜ ë°ì´í„°í”„ë ˆì„ í•©ì¹˜ê¸°
df = pd.concat([df_object,df_numeric], axis=1)

df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

In [106]:
# summary statistics í™•ì¸
df.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...     PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.675106
std      664.979097   636.931079  ...   1.898112   4.116711
min    11784.000000  2523.000000  ...   9.710000  21.056585
25%    11982.000000  3150.000000  ...  10.460000  26.731161
50%    12578.000000  3825.000000  ...  12.420000  28.929058
75%    13188.000000  3947.000000  ...  13.770000  29.928723
max    13222.000000  3991.000000  ...  13.870000  31.730005

[8 rows x 25 columns]

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [124]:
import numpy as np

# 19ë…„ë„ 4ë¶„ê¸°(19/12) ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ìœ„ì¹˜ ì°¾ê¸°
row = df.index[(df['ë¶„ê¸°'] == '19/12')][0]
col = df.columns.get_loc('ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)')

# 19ë…„ë„ 4ë¶„ê¸°(19/12) ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) Na ëŒ€ì²´í•˜ê¸°
df.iloc[row, col] = np.nan
print(df.iloc[row, col])

# í•´ë‹¹ ê²°ì¸¡ì¹˜ mean imputation ì²˜ë¦¬
mean = df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].mean()
print(mean)
df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].fillna(mean, inplace=True)

df

nan
10.75

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730005
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929058
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.056585
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731161
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.928723

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- -10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [140]:
sales_mean = df['ë§¤ì¶œì•¡'].mean()
print(f'ë§¤ì¶œì•¡ í‰ê·  : {sales_mean}')

# ì¡°ê±´ì— ë”°ë¼ Relative Perfomanceì˜ ê°’ ë³´ë‚´ì£¼ê¸°
def getRP(sales):
  if sales >= sales_mean*1.1: # 10% ì´ìƒ
    return 'S'
  elif sales >= sales_mean*1.05: # 5% ì´ìƒ
    return 'A'
  elif (sales < sales_mean*1.05) & (sales > sales_mean*0.95): # -5 ~ 5%
    return 'B'
  elif sales <= sales_mean*0.95: # -5% ì´í•˜
    return 'C'
  elif sales <= sales_mean*0.9: # -10% ì´í•˜
    return 'D'
  else:
    print('getRP error')

# 'Relative Perfomance' feature ë§Œë“¤ê¸°
df['Relative Perfomance'] = df['ë§¤ì¶œì•¡'].apply(getRP)

# ë“±ê¸‰ ì¡°ê±´ ì„œìˆ 
print(f'Së“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : {round(sales_mean*1.1, 1)} ì´ìƒ')
print(f'Aë“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : {round(sales_mean*1.05, 1)} ì´ìƒ')
print(f'Bë“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : {round(sales_mean*0.95, 1)} ~ {round(sales_mean*1.05, 1)}')
print(f'Cë“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : {round(sales_mean*0.95, 1)} ì´í•˜')
print(f'Dë“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : {round(sales_mean*0.9, 1)} ì´í•˜')

df

ë§¤ì¶œì•¡ í‰ê·  : 12550.8
Së“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : 13805.9 ì´ìƒ
Aë“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : 13178.3 ì´ìƒ
Bë“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : 11923.3 ~ 13178.3
Cë“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : 11923.3 ì´í•˜
Dë“±ê¸‰ ë§¤ì¶œì•¡ ì¡°ê±´ : 11295.7 ì´í•˜

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ...  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2  Relative Perfomance
0   19/6  12578  3991  ...   13.77  31.730005                    B
1   19/9  13222  3825  ...   13.87  28.929058                    A
2  19/12  11982  2523  ...   12.42  21.056585                    B
3   20/3  11784  3150  ...    9.71  26.731161                    C
4   20/6  13188  3947  ...   10.46  29.928723                    A

[5 rows x 27 columns]