<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# ğŸ“ Assignment

## 1. Dataset ë¶ˆëŸ¬ì˜¤ê¸°
> seaborn ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ load_dataset()ì„ í™œìš©í•´ì„œ iris ë°ì´í„°ì…‹ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. ë°ì´í„°í”„ë ˆì„ì˜ ì´ë¦„ì€ df_irisë¡œ í•©ë‹ˆë‹¤. <br>
> df_irisì˜ shapeì˜ **ì²«ë²ˆì§¸ ê°’ì„ ë‘ë²ˆì§¸ ê°’ìœ¼ë¡œ ë‚˜ëˆˆ ê°’**ì„ `res1`ì— ì €ì¥í•˜ì„¸ìš”

In [22]:
import seaborn as sns
import numpy as np
np.random.seed(42)

df_iris = sns.load_dataset('iris')
df_iris.head()
df_iris.shape

res1 = df_iris.shape[0] / df_iris.shape[1]
res1

30.0

## 2. X êµ¬í•˜ê¸°
> df_irisì—ì„œ sepal_lengthë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”. ê·¸ë¦¬ê³  sepal_length ì¹¼ëŸ¼ì˜ ì´ë¦„ì€ xë¡œ ë°”ê¿‰ë‹ˆë‹¤

In [23]:
df_iris = df_iris[['sepal_length']]
df_iris.head()

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

In [26]:
df_iris.rename(columns={'sepal_length' : 'x'}, inplace=True)

df_iris.head()

     x
0  5.1
1  4.9
2  4.7
3  4.6
4  5.0

## 3. ê¸°ì´ˆ ë¯¸ë¶„

ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•œ ë„í•¨ìˆ˜ë¥¼ êµ¬í•œ í›„ì— num_one í•¨ìˆ˜ë¥¼ ì™„ì„±í•˜ì„¸ìš”. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one í•¨ìˆ˜ë¥¼ xì— ì ìš©í•œ í›„ì— **derivative_one**ì´ë¼ëŠ” ì¹¼ëŸ¼ìœ¼ë¡œ df_irisì— ì €ì¥í•©ë‹ˆë‹¤. (Hint : df.apply)
- derivative_one ì¹¼ëŸ¼ì˜ í•©ì„ `res2`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [ ]:
import numpy as np

def num_one(x):
  #20x^4 + 27x^2 + 2ex
  return (20*x**4 + 27*x**2 + 2*np.exp(1)*x)

df_iris['derivative_one'] = df_iris['x'].apply(num_one)
df_iris.head()

In [ ]:
res2 = sum(df_iris['derivative_one'])
round(res2, 3)

- ì´ë²ˆì—ëŠ” scipyì˜ [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)ë¥¼ í™œìš©í•˜ì—¬ **derivative_two** ì¹¼ëŸ¼ìœ¼ë¡œ ì €ì¥í•˜ì„¸ìš”.
  - dxëŠ” 1e-7ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- derivative_two ì¹¼ëŸ¼ì˜ í•©ì„ `res3`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [34]:
from scipy.misc import derivative

def f(x):
    return (4*x**2 + 9*x**3 + np.exp(1)*x**2 - 7)

df_iris['derivative_two'] = derivative(f,df_iris['x'].apply(f), dx=1e-7)
df_iris.head()

     x  derivative_one  derivative_two
0  5.1    14260.398475    5.007523e+07
1  4.9    12204.511162    3.975292e+07
2  4.7    10381.343849    3.126361e+07
3  4.6     9551.240193    2.762082e+07
4  5.0    13202.182818    4.466681e+07

In [35]:
res3 = sum(df_iris['derivative_two'])
round(res3, 3)

21565948185.921

## 4. ë¯¸ë¶„ ì—°ìŠµ

>ì•„ë˜ í•¨ìˆ˜ë“¤ì˜ ë„í•¨ìˆ˜ë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”.

 $f(x) = e^x$

In [ ]:
def e_prime(x):
    return np.exp(x)

# ì°¸ê³  : https://blog.naver.com/PostView.nhn?blogId=sbssbi69&logNo=90164383593

$f(x) = lnx$

In [ ]:
def ln_prime(x):
    return 1 / x

# ì°¸ê³  : https://blog.naver.com/PostView.nhn?blogId=sbssbi69&logNo=90164383593

$f(x) = Sin(2x)$

In [ ]:
def sine_prime(2x):
    return 2*np.cos(2*x)

# ì°¸ê³  : https://rfriend.tistory.com/296 (ì‚¼ê°í•¨ìˆ˜)

$f(x) = (2x^2 + 8x)^2$

In [ ]:
def f_prime(x):
    return 2*(2*x**2+8*x) + 4*x+8

## 5. í¸ë¯¸ë¶„

ì£¼ì–´ì§„ `machine learning model`ì˜ `error function` ($\varepsilon$)ì´ ë‹¤ìŒê³¼ ê°™ì„ ë•Œ `error function`ì„ **ìµœì†Œí™”** í•˜ëŠ” ìµœì ì˜ `parameter`ë“¤ì„  êµ¬í•˜ì„¸ìš”. ê·¸ í›„ ê²°ê³¼ë¥¼ ê°ê° `p1`, `p2`ì— ì €ì¥í•˜ì„¸ìš”.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 = 100$

- ë‹¨ ìµœì ì˜ $p_1$ì€ $p_2$ê°€ $3$ì¼ë•Œ, ìµœì ì˜ $p_2$ëŠ” $p_1$ì´ $10$ì¼ë•Œë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ë‹ˆë‹¤.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”

## ğŸ”¥ ë„ì „ê³¼ì œ

### ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•˜ì„¸ìš”. ì´í›„ì— x = 3ì¼ ë•Œì˜ ê²°ê³¼ë¥¼ `challenge`ì— ì €ì¥í•˜ì„¸ìš”.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return None # ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”.