<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# ğŸ“ Assignment

# ì¹´ì´ì œê³±ê²€ì •


## 1. ê³µê³µë°ì´í„° ì¡°ì‘ ì—°ìŠµ. 

êµ­ê°€ í†µê³„ í¬í„¸ì—ì„œ ì•„ë˜ ì´ë¯¸ì§€ë¥¼ ì°¸ì¡°í•˜ì—¬

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ë…„ 8ì›”**ì— í•´ë‹¹í•˜ëŠ” ê·œëª¨ë³„ ë¯¸ë¶„ì–‘í˜„í™© ì— ëŒ€í•œ ë°ì´í„°ì…‹ì„ ìƒì„±í•˜ì„¸ìš”. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mì´í•˜`, `60~85m`, `85mì´ˆê³¼`ì˜ 3ê°œ ê·œëª¨ì™€ (column)
- `ì„œìš¸`, `ëŒ€ì „`, `ëŒ€êµ¬`, `ë¶€ì‚°` 4ê°œì˜ ì§€ì—­ì„ í¬í•¨í•´ì•¼í•©ë‹ˆë‹¤. (row)
- `ë¯¼ê°„ë¶€ë¬¸`ë§Œ í¬í•¨í•©ë‹ˆë‹¤
- ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš°ëŠ” 0ìœ¼ë¡œ ì²˜ë¦¬í•˜ì„¸ìš”.

ì´í›„ ë°ì´í„°ì…‹ì„ colabìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. ì´ë•Œ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chisquare
from scipy import stats

In [2]:
col = ['~60m2', '60~85m2', '85m2~']
row = ['ì„œìš¸', 'ëŒ€ì „', 'ëŒ€êµ¬', 'ë¶€ì‚°']

data_url = 'https://docs.google.com/uc?export=download&id=1DcnkxhnK9RcL6HxSJBXgzfT3q7u6YyeA'

df = pd.read_csv(data_url, encoding='cp949')
df = df.rename(columns={df.columns[0] : 'ì§€ì—­', df.columns[2] : 'ê·œëª¨'})
df

    ì§€ì—­ ë¶€ë¬¸(1)      ê·œëª¨  2020. 08
0   ì„œìš¸  ë¯¼ê°„ë¶€ë¬¸      ì†Œê³„        56
1   ì„œìš¸  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜        54
2   ì„œìš¸  ë¯¼ê°„ë¶€ë¬¸  60âˆ¼85ã¡         2
3   ì„œìš¸  ë¯¼ê°„ë¶€ë¬¸   85ã¡ì´ˆê³¼         0
4   ë¶€ì‚°  ë¯¼ê°„ë¶€ë¬¸      ì†Œê³„      1454
5   ë¶€ì‚°  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜       577
6   ë¶€ì‚°  ë¯¼ê°„ë¶€ë¬¸  60âˆ¼85ã¡       735
7   ë¶€ì‚°  ë¯¼ê°„ë¶€ë¬¸   85ã¡ì´ˆê³¼       142
8   ëŒ€êµ¬  ë¯¼ê°„ë¶€ë¬¸      ì†Œê³„      1624
9   ëŒ€êµ¬  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜       143
10  ëŒ€êµ¬  ë¯¼ê°„ë¶€ë¬¸  60âˆ¼85ã¡      1437
11  ëŒ€êµ¬  ë¯¼ê°„ë¶€ë¬¸   85ã¡ì´ˆê³¼        44
12  ëŒ€ì „  ë¯¼ê°„ë¶€ë¬¸      ì†Œê³„       783
13  ëŒ€ì „  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜       782
14  ëŒ€ì „  ë¯¼ê°„ë¶€ë¬¸  60âˆ¼85ã¡         1
15  ëŒ€ì „  ë¯¼ê°„ë¶€ë¬¸   85ã¡ì´ˆê³¼         0

In [3]:
# ë°ì´í„°ê°€ tidy í˜•íƒœì´ë¯€ë¡œ ì´ë¥¼ wide í˜•íƒœë¡œ ë°”ê¿”ì¤€ë‹¤
df = df.pivot_table(index = df.columns[0], columns = df.columns[2], values = '2020. 08')

# í˜•íƒœ ë³€ê²½ í›„ ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ì„ ì„¤ì •í•œë‹¤
df = df.reindex(index=row, columns=['60ã¡ì´í•˜',	'60âˆ¼85ã¡',	'85ã¡ì´ˆê³¼', 'ì†Œê³„'])
df = df.rename(columns={df.columns[0] : col[0], df.columns[1] : col[1], df.columns[2] : col[2]})
df

ê·œëª¨  ~60m2  60~85m2  85m2~    ì†Œê³„
ì§€ì—­
ì„œìš¸     54        2      0    56
ëŒ€ì „    782        1      0   783
ëŒ€êµ¬    143     1437     44  1624
ë¶€ì‚°    577      735    142  1454

## 2. ì§€ì—­ì— ëŒ€í•´ì„œ one-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi1`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) ë§Œì•½ **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´
```python
 [52+2+0, 590+665+142, 113+1061+42, 772+1+0]
```
ì„ ë¹„êµ í•˜ê²Œ ë  ê²ƒì…ë‹ˆë‹¤.

In [4]:
chi1 = chisquare(df['ì†Œê³„'])
chi1

# one sample Chi-squared testì˜ ê·€ë¬´ê°€ì„¤ì€ "í‘œë³¸ì§‘ë‹¨ì˜ ë¶„í¬ê°€ ê¸°ëŒ€ì™€ ë™ì¼í•˜ë‹¤."ì´ë‹¤.
# ì´ì— ëŒ€í•œ ëŒ€ë¦½ê°€ì„¤ì€ "í‘œë³¸ì§‘ë‹¨ì˜ ë¶„í¬ê°€ ê¸°ëŒ€ì™€ ë™ì¼í•˜ì§€ ì•Šë‹¤."ì´ë‹¤.
# ê·¸ë¦¬ê³  ì‹ ë¢°ë„ê°€ 95%ë¼ëŠ” ì „ì œí•˜ì— 
# p-valueê°€ 0.05ë³´ë‹¤ ì‘ìœ¼ë©´ ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•˜ê³  ëŒ€ë¦½ê°€ì„¤ì„ ì±„íƒí•˜ë©°, 
# 0.05ë³´ë‹¤ í¬ë©´ ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•  ìˆ˜ ì—†ë‹¤.

# one-sample chi-square testëŠ” ëŒ€ìƒ ë°ì´í„°ì˜ ë¶„í¬ê°€ ì˜ˆìƒëœ ë¶„í¬ì™€ ê°™ì€ì§€ ì•„ë‹Œì§€ë¥¼ íŒë‹¨í•¨
# ê²€ì • ê²°ê³¼ p > 0.05 ë¼ë©´ ì´ ë°ì´í„°ì˜ ë¶„í¬ëŠ” ì˜ˆìƒ ë¶„í¬ì™€ ë™ì¼í•˜ë‹¤ê³  ë³¼ ìˆ˜ ìˆê³ (ê·€ë¬´ê°€ì„¤ ê¸°ê° ë¶ˆê°€),
# p <= 0.05 ë¼ë©´ ì´ ë°ì´í„°ì˜ ë¶„í¬ëŠ” ì˜ˆìƒ ë¶„í¬ì™€ ë™ì¼í•˜ì§€ ì•Šë‹¤ê³  íŒë‹¨í•œë‹¤(ê·€ë¬´ê°€ì„¤ ê¸°ê°).

# chisquare() í•¨ìˆ˜ì˜ ê²½ìš° ë§¤ê°œë³€ìˆ˜ë¡œ f_exp(ì˜ˆìƒ ë¶„í¬ê°’)ì„ ë”°ë¡œ ë„£ì§€ ì•Šìœ¼ë©´
# í•¨ìˆ˜ ë‚´ë¶€ì ìœ¼ë¡œ ë“¤ì–´ì˜¨ ë°ì´í„° ê°’ì˜ í‰ê· ì„ ì˜ˆìƒ ë¶„í¬ê°’ìœ¼ë¡œ ì„¤ì •í•˜ê³ ì„œ ê²°ê³¼ë¥¼ ë³´ì—¬ì¤€ë‹¤.

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

## 3. ì§€ì—­ê³¼ ê·œëª¨ì— ëŒ€í•´ì„œ two-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi2`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ì„œìš¸|52|2|0|
|ëŒ€ì „|772|1|0|
|ëŒ€êµ¬|113|1061|42|
|ë¶€ì‚°|590|665|142|

ì— ëŒ€í•´ì„œ ê²€ì •í•´ì•¼ í•  ê²ë‹ˆë‹¤.

In [5]:
chi2 = stats.chi2_contingency(df.drop(['ì†Œê³„'], axis=1))
chi2

# chi2_contingency() í•¨ìˆ˜ ê²°ê³¼ê°’ í˜•ì‹ :
# (chi2, p, dof, expected)

# two sample Chi-squared testëŠ” ë‘ í‘œë³¸ì§‘ë‹¨ì˜ ë¶„í¬ê°€ ë™ì¼í•œì§€ í™•ì¸í•  ë•Œ ì‚¬ìš©í•œë‹¤.
# ì¦‰, ë‘ í‘œë³¸ì§‘ë‹¨ì´ ì—°ê´€ì´ ìˆëŠ”ì§€, ì—†ëŠ”ì§€ë¥¼ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

# H0 : ì§€ì—­ê³¼ ê·œëª¨ëŠ” ì—°ê´€ì´ ì—†ë‹¤
# H1 : ì§€ì—­ê³¼ ê·œëª¨ëŠ” ì—°ê´€ì´ ìˆë‹¤
# p-valueê°€ 0.05ë³´ë‹¤ ì‘ê¸° ë•Œë¬¸ì— ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•˜ê³  ëŒ€ë¦½ê°€ì„¤ì„ ì±„íƒí•œë‹¤.
# ë”°ë¼ì„œ ì§€ì—­ê³¼ ê·œëª¨ëŠ” ì—°ê´€ì´ ìˆë‹¤.

# ì´ì²˜ëŸ¼ two sample Chi-squared testì˜ ê·€ë¬´ê°€ì„¤ì€ "ë‘ ë³€ìˆ˜ëŠ” ì—°ê´€ì´ ì—†ë‹¤(ë‘ ë³€ìˆ˜ëŠ” ë…ë¦½ì´ë‹¤)."ì´ë‹¤.
# ì´ì— ëŒ€í•œ ëŒ€ë¦½ê°€ì„¤ì€ "ë‘ ë³€ìˆ˜ëŠ” ì—°ê´€ì´ ìˆë‹¤(ë‘ ë³€ìˆ˜ëŠ” ë…ë¦½ì´ ì•„ë‹ˆë‹¤)."ì´ë‹¤.
# ê·¸ë¦¬ê³  ì‹ ë¢°ë„ê°€ 95%ë¼ëŠ” ì „ì œí•˜ì— p-valueê°€ 0.05ë³´ë‹¤ ì‘ìœ¼ë©´ ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•˜ê³  ëŒ€ë¦½ê°€ì„¤ì„ ì±„íƒí•˜ë©°, 
# 0.05ë³´ë‹¤ í¬ë©´ ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•  ìˆ˜ ì—†ë‹¤.

(2064.5767314171994, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [311.04110288, 434.77789124,  37.18100587],
        [645.12228746, 901.76155221,  77.11616033],
        [577.59101353, 807.36533061,  69.04365586]]))

### 4. 2ë²ˆì— ëŒ€í•´ì„œ NumPy ë¥¼ ì‚¬ìš©í•˜ì—¬ (Scipyë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³ ) $\chi^2$ test ì‹œí–‰ í›„ 2ë²ˆì˜ ê²°ê³¼ì™€ ë¹„êµí•´ë³´ì„¸ìš”. 

- `obs`, `exp`, `chi`ë¼ëŠ” ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ì•¼í•©ë‹ˆë‹¤.

In [6]:
obs = df['ì†Œê³„']

exp_val = sum(obs) / len(obs)

exp = []
for i in range(len(obs)):
  exp.append(exp_val)

squared = np.power(obs - exp, 2)

chi = np.sum(squared / exp)
p = 1 - stats.chi2.cdf(chi, len(obs)-1)

print(f'chisquare : {chi}, pvalue : {p}')

chisquare : 1564.4572376818994, pvalue : 0.0

## ğŸ”¥ ë„ì „ ê³¼ì œ

ì•„ë˜ ì„¸ê°€ì§€ë¥¼ ë‹¤í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Function

4ë²ˆì—ì„œ ì‚¬ìš©í•œ one sample chisquare testë¥¼ í•¨ìˆ˜ì˜ í˜•íƒœë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [7]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
  value = pd.Series(value)

  exp_val = sum(value) / len(value)

  exp = []
  for i in range(len(value)):
    exp.append(exp_val)

  squared = np.power(value - exp, 2)

  x2 = np.sum(squared / exp)
  p = 1 - stats.chi2.cdf(x2, len(value)-1)
  print(f'chisquare : {x2}, pvalue : {p}')

myChisq(v1)
myChisq(v2)

chisquare : 2.3000000000000003, pvalue : 0.8062668698851285
chisquare : 14.8, pvalue : 0.011251979028327308

### 2. ANOVA

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ANOVA ì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://partrita.github.io/posts/ANOVA-python/>

ë‹¤ìŒ `4ê°œ ê·¸ë£¹ì— ëŒ€í•´ì„œ í‰ê· ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€`ì— ëŒ€í•œ ê°€ì„¤ ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [8]:
a = [38, 33, 35, 92, 76, 97, 88, 41, 11, 9]
b = [18, 52, 62, 48, 30, 40, 87, 12, 97, 82]
c = [28, 90, 5, 49, 66, 73, 96, 80, 4, 17]
d = [8, 99, 4, 12, 7, 64, 18, 10, 9, 20]

In [9]:
# Null hypothesis: Groups means are equal (no variation in means of groups) 
# H0: Î¼1=Î¼2=â€¦=Î¼p
# Alternative hypothesis: At least, one group mean is different from other groups
# H1: All Î¼ are not equal

stats.f_oneway(a, b, c, d)
# pvalue > 0.05 ì´ë¯€ë¡œ 4ê°œ ê·¸ë£¹ì˜ í‰ê·  ì°¨ì´ëŠ” ì—†ì„ ìˆ˜ë„ ìˆë‹¤.

F_onewayResult(statistic=1.7249594239128412, pvalue=0.17920877113948797)